
<div class="container mt-5">
  <button type="button" class="btn btn-primary" [routerLink]="['/']">Go back</button>
  <div class="my-5">
    <div>
      <select class="select-user" [(ngModel)]="selectedUserId">
        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
      </select>
      <button type="button" class="btn btn-primary ml-4" (click)="assignTask()">Assign task</button>
    </div>
  </div>
  <button type="button" class="btn btn-success mb-2" (click)="completeTask()">Complete task</button>

  <p>{{task && task.description}}</p>
  <p *ngIf="task?.assigneeId">
    <strong>Assigned to: </strong>{{assignedUser && assignedUser.name}}
  </p>
</div>

