.numberlist {
  a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #FFF;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
  }

}

.task-input {
  width: 400px;
}

.completed {
  color: green;
}
