
<div class="container mt-5">
  <h2>Tasks</h2>

  <form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="task" class="sr-only">Task</label>
      <input name="task" type="text" class="form-control task-input" id="task" placeholder="task description" [(ngModel)]="taskDescription">
    </div>
    <button type="button" class="btn btn-primary mb-2" (click)="addTask()">Add task</button>
  </form>

  <div class="custom-control custom-checkbox my-3">
    <input type="checkbox" class="custom-control-input" id="customCheck1" (click)="filter($event)">
    <label class="custom-control-label" for="customCheck1">Show uncompleted task only</label>
  </div>

  <div class="numberlist">
    <ul>
      <li *ngFor="let t of tasks; trackBy: taskId">
        <a [routerLink]="['/tasks', t.id]">
          Task: {{t.id}}, {{t.description}}<span class="badge badge-success ml-3" *ngIf="t.completed">Completed</span>
        </a>
      </li>
    </ul>
  </div>
</div>



